@{
    ViewBag.Title = "Monthly Premium Calculator";
}

<div class="page-header">
    <h1>Calculate Premium</h1>
</div>

<div class="row" ng-app="calculateApp" ng-controller="HomeController">
    <div class="col-md-4">
        <form name="frmCalculate" novalidate ng-submit="DoCalculation(Premium)">
            <div class="form-group">
                <label for="lblName">Name</label>
                <input name="txtName" type="text" class="form-control" placeholder="Enter Name"
                       ng-model="Premium.Name" ng-required="true" />
                <span style="color:red" ng-show="dovalidation && frmCalculate.txtName.$error.required">Required!</span>
            </div>
            <div class="form-group">
                <label for="lblAge">Age</label>
                <input name="txtAge" type="text" class="form-control" placeholder="Enter Age"
                       ng-model="Premium.Age" ng-required="true" />
                <span style="color:red" ng-show="dovalidation && frmCalculate.txtAge.$error.required">Required!</span>
            </div>
            <div class="form-group">
                <label for="lblDOB">Date of Birth</label>
                <input name="txtDOB" type="date" class="form-control"
                       ng-model="Premium.DOB" ng-required="true" />
                <span style="color:red" ng-show="dovalidation && frmCalculate.txtDOB.$error.required">Required!</span>
            </div>
            <div class="form-group">
                <label for="lblOccupation">Occupation</label>
                <select name="listOccupation" ng-model="Premium.Occupation" class="form-control"
                        ng-required="true" ng-change="findRatingFactor()">
                    <option value="">--Select--</option>
                    <option ng-repeat="x in occupationList" value="{{x.rating }}">{{x.occupation}}</option>
                </select>
                <span style="color:red" ng-show="dovalidation && frmCalculate.listOccupation.$error.required">Required!</span>
            </div>
            <div class="form-group">
                <label for="lblSumInsured">Death - Sum Insured</label>
                <input name="txtSumInsured" type="text" class="form-control" placeholder="Enter Death Sum Insured"
                       ng-model="Premium.SumInsured" ng-required="true" />
                <span style="color:red" ng-show="dovalidation && frmCalculate.txtSumInsured.$error.required">Required!</span>
            </div>
            <input id="btnClear" type="reset" class="btn btn-primary text-uppercase" ng-click="resetForm()" />
            <input id="btnSubmit" type="submit" class="btn btn-success text-uppercase" value="Submit" />
        </form>
        <br/>
         <div id="divOutput" class="hidden">Your monthly premium is : {{output}}</div>
    </div>
</div>